
h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #9E6B55;
}
h2{
    font-weight: bold;
    color: #9E6B55;
    font-size: 28px;
    text-align: left;
}
h3 li {
    font-weight: bold;
    color: blue;
    font-size: 24px;
}
ul li{
    background-color:#9E6B55;
}

.general_ed ul li{
    background-color:#B8775D;
}
.general_ed1 ul li {
    background-color: #B8775D;
}
ul li.passed {
    background-color:#594A41;
}
ul li .studying{
    background-color: #AF735A;
}
ul li .general_ed3{
    background-color: #AF735A;
}